<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoPuTTY.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <AutoPuTTY.Properties.Settings>
        <setting name="autohidepassword" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="cfgfilepath" serializeAs="String">
          <value>autoputty.xml</value>
        </setting>
        <setting name="cfgpath" serializeAs="String">
          <value />
        </setting>
        <setting name="cfgversion" serializeAs="String">
          <value />
        </setting>
        <setting name="cryptokey" serializeAs="String">
          <value>12ùMkldQ%kS2A</value>
        </setting>
        <setting name="cryptokeyoriginal" serializeAs="String">
          <value />
        </setting>
        <setting name="cryptolegacypassword" serializeAs="String">
          <value>;Sk/#µ^éD}=@|</value>
        </setting>
        <setting name="maximized" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="minimize" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="multicolumn" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="multicolumnwidth" serializeAs="String">
          <value>15</value>
        </setting>
        <setting name="password" serializeAs="String">
          <value />
        </setting>
        <setting name="passwordmd5" serializeAs="String">
          <value />
        </setting>
        <setting name="passwordpbk" serializeAs="String">
          <value />
        </setting>
        <setting name="position" serializeAs="String">
          <value />
        </setting>
        <setting name="puttyagent" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="puttycommand" serializeAs="String">
          <value />
        </setting>
        <setting name="puttyexecute" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="puttyforward" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="puttykey" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="puttykeyfilepath" serializeAs="String">
          <value />
        </setting>
        <setting name="puttypath" serializeAs="String">
          <value>putty.exe</value>
        </setting>
        <setting name="rdadmin" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="rdfilespath" serializeAs="String">
          <value />
        </setting>
        <setting name="rddrives" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="rdpath" serializeAs="String">
          <value>mstsc.exe</value>
        </setting>
        <setting name="rdsize" serializeAs="String">
          <value />
        </setting>
        <setting name="rdspan" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="size" serializeAs="String">
          <value />
        </setting>
        <setting name="tooltips" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="version" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="vncfilespath" serializeAs="String">
          <value />
        </setting>
        <setting name="vncfullscreen" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="vncpath" serializeAs="String">
          <value>vncviewer.exe</value>
        </setting>
        <setting name="vncviewonly" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="winscpagent" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="winscpkey" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="winscpkeyfilepath" serializeAs="String">
          <value />
        </setting>
        <setting name="winscppath" serializeAs="String">
          <value>winscp.exe</value>
        </setting>
        <setting name="winscppassive" serializeAs="String">
          <value>True</value>
        </setting>
      </AutoPuTTY.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
